{% extends "base.html" %}

{% comment %} auth/password_reset.html ------------------------------------===
  Copyright © 2011, RokuSigma Inc. (Mark Friedenbach <mark@roku-sigma.com>)
  as an unpublished work.

  RokuSigma Inc. (the “Company”) Confidential

  NOTICE: All information contained herein is, and remains the property of the
  Company. The intellectual and technical concepts contained herein are
  proprietary to the Company and may be covered by U.S. and Foreign Patents,
  patents in process, and are protected by trade secret or copyright law.
  Dissemination of this information or reproduction of this material is
  strictly forbidden unless prior written permission is obtained from the
  Company. Access to the source code contained herein is hereby forbidden to
  anyone except current Company employees, managers or contractors who have
  executed Confidentiality and Non-disclosure agreements explicitly covering
  such access.

  The copyright notice above does not evidence any actual or intended
  publication or disclosure of this source code, which includes information
  that is confidential and/or proprietary, and is a trade secret, of the
  Company. ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC PERFORMANCE,
  OR PUBLIC DISPLAY OF OR THROUGH USE OF THIS SOURCE CODE WITHOUT THE EXPRESS
  WRITTEN CONSENT OF THE COMPANY IS STRICTLY PROHIBITED, AND IN VIOLATION OF
  APPLICABLE LAWS AND INTERNATIONAL TREATIES. THE RECEIPT OR POSSESSION OF
  THIS SOURCE CODE AND/OR RELATED INFORMATION DOES NOT CONVEY OR IMPLY ANY
  RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS, OR TO MANUFACTURE,
  USE, OR SELL ANYTHING THAT IT MAY DESCRIBE, IN WHOLE OR IN PART.
===-----------------------------------------------------------{% endcomment %}

{% comment %}--------------------------------------------------------------===
  This file was based on previous work distributed under the terms of the
  copyright notice and disclaimer that follows. Modifications made to this
  file since then are the property of RokuSigma Inc. and covered by company
  confidentiality agreements, as declared above.
===-----------------------------------------------------------{% endcomment %}

{% comment %}--------------------------------------------------------------===
  Copyright (c) 2010 Charlie DeTar

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to
  deal in the Software without restriction, including without limitation the
  rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
  sell copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
  FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
  IN THE SOFTWARE.
===-----------------------------------------------------------{% endcomment %}

{% comment %} auth/password_reset.html ------------------------------------===
  This template and its associated view allows a user to reset their password
  by generating a one-time use link that can be used to reset the password,
  and sending that link to the user's registered email address. By default,
  the template is provided with the following context:

    form
      The form for resetting the user's password. This will be an instance of
      a subclass of “django.forms.Form”; consult Django's forms documentation
      <http://docs.djangoproject.com/en/dev/topics/forms/> for information on
      how to display this in a template.
===-----------------------------------------------------------{% endcomment %}

{% block title %}{{ block.super }} - Reset password{% endblock %}

{% block content %}
  <div class="centered-form">
    <div class="info">
      <p class="info-text">Forgot your password? Enter your email in the form
        below and we'll send you instructions on how to create a new one.</p>
    </div>
    {% with '' as form_action %}
    {% with 'POST' as form_method %}
    {% with "Reset password" as form_submit_text %}
      {% include "form.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
  </div>
{% endblock %}

{% comment %}--------------------------------------------------------------===
  End of File
===-----------------------------------------------------------{% endcomment %}
