{% comment %} section.feature.html ----------------------------------------===
  Copyright © 2011, RokuSigma Inc. (Mark Friedenbach <mark@roku-sigma.com>)
  as an unpublished work.

  RokuSigma Inc. (the "Company") Confidential

  NOTICE: All information contained herein is, and remains the property of the
  Company. The intellectual and technical concepts contained herein are
  proprietary to the Company and may be covered by U.S. and Foreign Patents,
  patents in process, and are protected by trade secret or copyright law.
  Dissemination of this information or reproduction of this material is
  strictly forbidden unless prior written permission is obtained from the
  Company. Access to the source code contained herein is hereby forbidden to
  anyone except current Company employees, managers or contractors who have
  executed Confidentiality and Non-disclosure agreements explicitly covering
  such access.

  The copyright notice above does not evidence any actual or intended
  publication or disclosure of this source code, which includes information
  that is confidential and/or proprietary, and is a trade secret, of the
  Company. ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC PERFORMANCE,
  OR PUBLIC DISPLAY OF OR THROUGH USE OF THIS SOURCE CODE WITHOUT THE EXPRESS
  WRITTEN CONSENT OF THE COMPANY IS STRICTLY PROHIBITED, AND IN VIOLATION OF
  APPLICABLE LAWS AND INTERNATIONAL TREATIES. THE RECEIPT OR POSSESSION OF
  THIS SOURCE CODE AND/OR RELATED INFORMATION DOES NOT CONVEY OR IMPLY ANY
  RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS, OR TO MANUFACTURE,
  USE, OR SELL ANYTHING THAT IT MAY DESCRIBE, IN WHOLE OR IN PART.
===-----------------------------------------------------------{% endcomment %}

{% load markup %}

{% with assets.0 as asset %}
<div id="featured-asset">
  <div class="asset-embed">
    <x3d
      xmlns="http://www.x3dom.org/x3dom"
      showStat="false"
      showLog="false"
      x="0px" y="0px"
      width="960px" height="540px"
      altImg="helloX3D-alt.png"
      />
      <scene>
        <viewpoint position='0 0 10' ></viewpoint>
        <shape>
          <appearance>
            <material diffuseColor='0.603 0.894 0.909' ></material>
          </appearance>
          <box DEF='box' ></box>
        </shape>
      </scene>
    </x3d>
  </div><!-- .asset-embed -->
  <div class="asset-meta">
    <div class="asset-title">
      <h4><a href="#">{{ asset.title }}</a></h4>
    </div><!-- .asset-title -->
    <div class="asset-byline">
      <p>&nbsp;by <a href="#">{{ asset.owner.username }}</a></p>
    </div>
    <div class="asset-stats">
      <span class="asset-uptime">{{ asset.created|timesince }} ago</span> / <span class="asset-views">2,372,913 views</span>
    </div><!-- .asset-stats -->
  </div><!-- .asset-meta -->
  <div class="asset-info">
    <div class="asset-description">
      {{ asset.description|markdown:"safe" }}
    </div><!-- .asset-description -->
  </div><!-- .asset-info -->
</div><!-- #featured-asset -->
{% endwith %}

{% comment %}--------------------------------------------------------------===
  End of File
===-----------------------------------------------------------{% endcomment %}
